/*#region Palette*/
:root {
  --rdc-primary: #222222;
  --rdc-secondary: #2b2b2b;
  --rdc-tertiary: #464646;
  --rdc-text-subtitle: #9c9a85;
  
}
/*#endregion Palette*/

/*#region Common*/
.app-bg-primary {
  background-color: var(--rdc-primary);
}
.app-bg-secondary {
  background-color: var(--rdc-secondary);
}

.app-bg-tertiary {
  background-color: var(--rdc-tertiary);
}
.app-text-subtitle input::placeholder {
  color: var(--rdc-text-subtitle);
}

.app-text-subtitle {
  color: var(--rdc-text-subtitle);
}
/*#endregion Common*/

/*#region Header*/
.app-searchbar-item {
  background-color: var(--rdc-tertiary);
  color: var(--rdc-text-subtitle);
}
/*#endregion Header*/

/*#region Main*/
#mainContainer {
  min-height: 950px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.sizer {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.app-border-tertiary{
    border-color: var(--rdc-tertiary);
}
/*#endregion Main*/